.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-details h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #333;
}

.cart-item-details p {
    margin: 3px 0;
    font-size: 14px;
    color: #555;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 10%;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 900;
}

.delete-button:hover {
    background-color: #cc0000;
}
