/* ItemCount.css */
.ItemCount {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.ItemCount__button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ItemCount__button:hover {
    background-color: #0056b3;
}

.ItemCount__number {
    font-size: 24px;
    margin: 0 10px;
}

.ItemCount__addToCart {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    margin-top: 10px;
}

.ItemCount__addToCart:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.ItemCount__addToCart:hover:not(:disabled) {
    background-color: #218838;
}

/* Media Queries para hacer el componente responsive */

/* Para pantallas de tabletas */
@media (max-width: 1024px) {
    .ItemCount {
        flex-direction: row;
        justify-content: center;
        padding: 15px;
    }

    .ItemCount__number {
        font-size: 20px;
    }

    .ItemCount__button {
        font-size: 18px;
        width: 35px;
        height: 35px;
    }

    .ItemCount__addToCart {
        width: 180px;
        font-size: 16px;
        padding: 8px 16px;
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .ItemCount {
        
    }

    .ItemCount__number {
        font-size: 18px;
    }

    .ItemCount__button {
        font-size: 16px;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        justify-content: center;
    }

    .ItemCount__addToCart {
        width: 160px;
        font-size: 14px;
        padding: 8px 14px;
    }
}
